.friend {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.friend .friend-cards-container {
  position: relative;
  width: 100%;

  border-radius: 25px;
  transition: 0.3s;
}
.friend::-webkit-scrollbar {
  display: none;
}
