.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: relative;
}

.gradients-container {
  filter: blur(80px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.g1,
.g2,
.g3 {
  position: absolute;
  border-radius: 50%;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.g1 {
  background: #764bebbf; /* 紫色 */
  width: 35vmax;
  height: 35vmax;
  animation-name: move-1;
}

.g2 {
  background: #4be8beaa; /* 青色 */
  width: 25vmax;
  height: 25vmax;
  animation-name: move-2;
}

.g3 {
  background: #eeaaaaaa; /* 粉色 */
  width: 45vmax;
  height: 45vmax;
  animation-name: move-3;
}

@keyframes move-1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(180%, 80%);
  }
  70% {
    transform: translate(80%, 80%);
  }
}

@keyframes move-2 {
  0%,
  100% {
    transform: translate(0, 150%);
  }
  45% {
    transform: translate(200%, 0);
  }
  65% {
    transform: translate(180%, 100%);
  }
}

@keyframes move-3 {
  0%,
  100% {
    transform: translate(120%, 0);
  }
  35% {
    transform: translate(-10%, -30%);
  }
  65% {
    transform: translate(0, 80%);
  }
}

.blur-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}
