.friend {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friend .friend-cards-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 720px;
  background: var(--color-card);
  border: var(--color-border);
  box-shadow: 0 0 5px 1px var(--color-card-shadow);
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .friend .friend-cards-container {
    width: 95%;
    height: 90%;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
