.friend {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friend .friend-cards-container {
  display: flex;
  position: relative;
  align-items: start;
  width: 80%;
  height: 720px;
  gap: 15px;
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .friend .friend-cards-container {
    width: 95%;
    height: 90%;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
