@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom properties */
  --color-text: #1a1a1a;
  --color-background: #ffffff;
  --color-primary: #ee9ca7;
  --color-shadow: #ee9ca755;
  --color-transparent: rgba(239, 239, 239, 0.9);

  --color-card: rgba(235, 235, 235, 0.2); 
  --color-card-border: rgb(235, 235, 235); 
  --color-card-shadow: rgba(240, 240, 240, 1);
}
[data-theme='dark'] {
  --color-text: #f9f9f9;
  --color-background: #242424;
  --color-transparent: rgba(20, 20, 20, 0.9);
  --color-shadow: #704147c2;

  --color-card: rgba(50, 50, 50, 0.2);
  --color-card-border: rgb(50, 50, 50);
  --color-card-shadow: rgba(50, 50, 50, 0.9);
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  color: var(--color-text);
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
