@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom properties */
  --color-primary: #ee9ca7;

  /* only for the background */
  --color-background-transparent: rgba(239, 239, 239, 1);

  /* other colors */
  --color-text: #1a1a1a;
  --color-background: #ffffff;
  --color-background-translucent: #ffffff80;
  --color-shadow: #ee9ca755;
  --color-border: #fafafa66;

  --color-card: #fbfbfb9a;
  --color-card-border: #ebebeb;
  --color-card-shadow: #d1d1d1;
}
[data-theme='dark'] {
  /* only for the background */
  --color-background-transparent: rgba(20, 20, 20, 0.9);

  /* other colors */
  --color-text: #f9f9f9;
  --color-background: #242424;
  --color-background-translucent: #24242480;
  --color-shadow: #824a52c2;
  --color-border: #3e3e3e66;

  --color-card: #272727b0;
  --color-card-border: #323232;
  --color-card-shadow: rgba(58, 56, 56, 0.9);
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  color: var(--color-text);
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.3s;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100%;
  overflow-x: hidden;
}
