.project-card {
  position: relative;
  z-index: 0;
  width: 350px;
  height: 180px;
  padding: 20px 25px;
  background-color: var(--background-color);
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
}
.project-card .content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.project-card h3 {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.3s;
}
.project-card h3::after {
  content: '';
  height: 25px;
  width: 5px;
  background-color: var(--primary-color);
  position: absolute;
  left: 3px;  
  border-radius: 3px;
  transition: 0.3s;
}
.project-card h3::before {
  content: '';
  height: 25px;
  width: 5px;
  background-color: var(--primary-color);
  position: absolute;
  left: 3px;  
  border-radius: 3px;
  transition: 0.5s;
}
.descr {
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.descr p {
  height: 100%;
  line-height: 1.1;
  font-size: 1rem;
}
.footer {
  padding: 5px 3px;
  display: flex;
  gap: 10px;
}
.language-label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.language-label .label {
  display: inline-block;
  width: 15px;
  height: 5px;
  border-radius: 999px;
}
.language-label .text {
  font-size: 0.75rem;
  opacity: 0.8;
}

.project-card a:hover {
  color: inherit;
}
.project-card:hover h3 {
  color: var(--primary-color);
}
.project-card:hover h3::after {
  width: 100%;
  background: linear-gradient(to right, transparent, var(--shadow-color), transparent);
  filter: blur(20px);
}
.project-card:hover h3::before {
  height: 100px;
  left: 0;
  top: 0;
}

.project-card:hover {
  box-shadow: 0 0 15px var(--shadow-color);
  transform: translateY(-10px);
}