.project {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project::before,
.project::after {
  content: "";
  height: 100%;
  width: calc((100% - 350px) / 2);
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: 1s;
}
.project.active::before,
.project.active::after {
  opacity: 1;
}
.project::before {
  left: 0;
  background: linear-gradient(to right, var(--color-background), transparent);
}
.project::after {
  right: 0;
  background: linear-gradient(to left, var(--color-background), transparent);
}
.project .card-container {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  gap: 25px;
  padding: 25px;
  border-radius: 15px;
  transition: 0.5s;
}
.controller {
  position: relative;
  display: flex;
  gap: 50px;
  margin-top: 25px;
}
.left-btn,
.right-btn {
  /* position: absolute; */
  /* top: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 1.875rem;
  transition: 0.3s;
}
.left-btn:hover,
.right-btn:hover {
  background: var(--color-backgrond-translucent);
  box-shadow: 0 0 10px 5px var(--color-shadow);
}

@media (max-width: 768px) {
  .project::before,
  .project::after {
    display: none;
  }
  .controller {
    display: none;
  }
  .project .card-container {
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    padding: 75px 0 50px;
    scrollbar-width: none;
    overflow-y: scroll;
  }
}
