.sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}
.card-container {
  height: 700px;
  width: 60%;
  display: flex;
  align-items: center;
}
.project-card {
  position: relative;
  z-index: 0;
  width: 180px;
  height: 60px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}
.project-card:hover {
  box-shadow: 0 0 15px var(--shadow-color);
  transform: translateY(-10px);
}
.project-card h3 {
  padding: 15px 25px;
}
.project-card::before {
  content: '';
  width: 120px;
  height: 26px;
  position: absolute;
  background: linear-gradient(to right, var(--primary-color)70%, transparent);
  top: 15px;
  left: 25px;
  border-radius: 8px;
  z-index: -1;
}
.project-card::after {
  content: '';
  height: 20px;
  width: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: 18px;
  left: 15px;  
  border-radius: 2px;
}