.social {
  display: flex;
  width: 100%;
  margin-top: 30px;
  height: 50px;
  justify-content: center;
}

.links {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.links::after {
  content: '';
  display: block;
  position: absolute;
  width: 230px;
  height: 2px;
  bottom: 0;
  background-color: var(--color-primary);
  background-image: linear-gradient(
    90deg,
    var(--color-background-translucent) 0%,
    var(--color-primary) 10% 90%,
    var(--color-background-translucent) 100%
  );
  border-radius: 2px;
}
.links a {
  transition: all ease 0.3s;
}
.links a:hover {
  color: var(--color-primary);
}

.wechat,
.qq {
  position: relative;
}
.wechat img,
.qq img {
  width: 180px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  user-select: none;
}
.wechat:hover img,
.qq:hover img {
  opacity: 1;
}

@media (max-width: 768px) {
  .social {
    margin-top: 80px;
  }
  .wechat,
  .qq {
    -webkit-tap-highlight-color: transparent;
  }
}
