.toggle-theme {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 20;
}
.icon {
  position: absolute;
  transition: all 0.5s;
}
.icon:hover {
  color: var(--color-primary);
}
.visible {
  opacity: 1;
  transform: rotate(0deg);
}
.hidden {
  opacity: 0;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .toggle-theme {
    bottom: unset;
    left: unset;
    right: 0;
    top: 0;
  }
}