.flex {
  display: flex;
}
.page-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
/* 直接子元素 */
.page-container > * {
  scroll-snap-align: center;
}