.toggle-button {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  height: 75px;
  width: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-button-container {
  position: relative;
  border-radius: 0;
  transition: 0.5s;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.nav-open) .toggle-button-container {
  border-radius: 15px;
  background-color: var(--color-background-translucent);
}

:global(.nav-open) .toggle-button-container:hover {
  box-shadow: 0 0 var(--blur-radius-card) var(--color-shadow);
}

.toggle-bar {
  position: absolute;
  height: 3px;
  width: 1.5rem;
  border-radius: 0.125rem;
  background-color: var(--color-text);
  transition: all 0.3s;
}

.bar-hidden {
  opacity: 0;
}

.bar-rotate-45 {
  transform: rotate(45deg);
}
.bar2 {
  transform: translateY(-0.5rem);
}
.bar-rotate--45 {
  transform: rotate(-45deg);
}
.bar3 {
  transform: translateY(0.5rem);
}
