.theme-toggle {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  display: flex;
  bottom: 5px;
  left: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 20;
  transition: 1s;
}
.theme-toggle-panel {
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 0;
  transition: height 0.35s;
  border-radius: 15px;
}

.theme-toggle:global(.active) .theme-toggle-panel {
  height: 300px;
}
.drop-down {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--color-card);
  z-index: 10;
  transition: box-shadow 0.35s, border 0.35s;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid transparent;
}
.drop-down:hover {
  box-shadow: 0 0 var(--blur-radius-card) var(--color-shadow);
  border: 1px solid var(--color-primary);
}
.theme-toggle-item {
  position: absolute;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: var(--color-card);
  transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s, border 0.3s;
  opacity: 0;
}
.theme-toggle-item:hover {
  box-shadow: 0 0 var(--blur-radius-card) var(--color-shadow);
  border: 1px solid var(--color-primary);
}
.theme-toggle:global(.active) .theme-toggle-item {
  opacity: 1;
}
.light-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  bottom: 50px;
  transition: transform 0.3s, opacity 0.3s;
}
.background {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.background-options-container {
  position: absolute;
  padding: 5px;
  left: 50px;
}
.background-options {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  user-select: none;
  padding: 15px;
  border-radius: 20px;
  z-index: -1;
}
.background-option {
  transition: color 0.2s;
}
.background-option:hover {
  color: var(--color-primary);
}
.current-background {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid var(--color-primary);
}
.icon {
  position: absolute;
  transition: all 0.5s;
}
.visible {
  opacity: 1;
  transform: rotate(0deg);
}
.hidden {
  opacity: 0;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .theme-toggle {
    bottom: unset;
    left: unset;
    right: 0;
    top: 0;
  }
}
